<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resource :: head()"></head>
<body>
<h1 th:text="|Pagina di dettaglio della ${ricetta.nome}|" style="text-align:center"></h1>
<div style="text-align:center">
<img th:src="${ricetta.foto}" alt="" width="70px" height="70px">
</div>
<ul th:object="${ricetta}">
    <li th:text="|gli ingredienti sono *{ingredienti}|"></li>
    <li th:text="|il tempo di preparazione è *{tempo_preparazione}|"></li>
    <li th:text="|questa ricetta è per *{numero_porzioni} porzioni|"></li>
    <li th:text="*{testo}"></li>
</ul>



</body>
</html>